<h1>Bem vindo a pagina campeonatos aqui você ira encontrar diversas informações sobre os campeonatos escolares que
    ocorrem nas primeiras semanas de outubro,saiba mais sobre
    as diversas modalidades</h1>


<div class="card">
<center>
    <h1>Futsal</h1>
</center>
<center><img src="/images/fut.jpg" alt="futsal" id="h"></img></center>
<p>Modalidade mais disputada entre todas as turmas possuindo um time por turma,tendo categorias tanto para o genêro
    masculino quanto
    feminino.Realizado entre as turmas de manhã no horário de aula e as turmas da tarde no respectivo horário <a
        href="/campeonatos/futsal">Veja mais</a></p>
</div>

<div class="card">
<center>
    <h1>Handebol</h1>
</center>
<center><img src="/images/hand.jpg" alt="hadbol" id="h"></img></center>
<p>Modalidade disputada entre todas as turmas possuindo 3 a 4 times no maxímo,tendo categorias tanto para o genêro
    masculino quanto feminino.
    Realizado entre as turmas de manhã no horário de aula e as turmas da tarde no respectivo horário <a href="/campeonatos/volei">Veja
        mais</a></p>
</div>

<div class="card">
<center>
    <h1>Volei</h1>
</center>
<center><img src="/images/Vol.jpg" alt="handbol" width="296px" height="170px"></img></center>
<p>Modalidade disputada entre todas as turmas possuindo 2 times todos os anos porém é possível terem mais,tendo
    categorias tanto para
    o genêro masculino quanto feminino.Realizado entre as turmas de manhã no horário de aula e as turmas da tarde no
    respectivo horário <a href="/campeonatos/hand">Veja mais</a></p>
</div>