 <h1>Pagina direcionada a informações sobre a modalidade de handebol</h1>
 <p>Nesta pagina você vai saber mais sobre esta modalidade no campeonato como os ulímos campeões do ultímo ano</p>
  
 <center><h1>Campeões da modalidade em 2019</h1></center>
  <center><img src="/images/campft.jpg" alt="camphand 2019"></img></center>
  <p>Acima vemos os campeões de 2019,time formado por alunos do 2º e 3º ano.O jogo  foi disputado no mês de outubro em jogo unico
       por conta da quantidade de times.Foi um campeonato bastante acirrado com empenho de todos os alunos envolvidos. </p>