 <h1>Pagina direcionada a informações sobre a modalidade de volei</h1>
 <p>Nesta pagina você vai saber mais sobre esta modalidade no campeonato como os ulímos campeões do ultímo ano</p>

 <center><h1>Campeões da modalidade em 2019</h1></center>
  <center><img src="/images/camu.jpg" alt="campvol2019"></img></center>
  <p>Acima vemos os campeões de 2019,time  misto formado por alunos do 2º e 3º ano.Os 
      jogos  foram disputados no mês de outubro em 3 jogos por conta da quantidade de times  e teve sua final realizada  no mês de
       dezembro.Foi um campeonato bastante acirrado muitos jogos sendo necessários um  set para desempate com empenho de todos os alunos e professores envolvidos. </p>