<h1>Bem vindo a pagina campeonatos aqui você ira encontrar diversas informações sobre os campeonatos escolares de 2019</h1>


<div class="card">
<center>
    <h1>JEMG</h1>
</center>
<center><img src="/images/jemg.png" alt="futsal" id="h"></img></center>
<p>Campeonato disputado pelas escolas da região tendo uma importância muito grande entre os alunos selecionados a participar pois estaram carregando o nome da escola... <a href="/eventos/campeonatos/jemg">Veja mais</a></p>
</div>

<div class="card">
<center>
    <h1>Interclasse</h1>
</center>
<center><img src="/images/hand.jpg" alt="hadbol" id="h"></img></center>
<p>Modalidade disputada entre todas as turmas possuindo 3 a 4 times no maxímo,tendo categorias tanto para o genêro
    masculino quanto feminino.
    Realizado entre as turmas de manhã no horário de aula e as turmas da tarde no respectivo horário...<a href="/eventos/campeonatos/campsala">Veja
        mais</a></p>
</div>


