<p>Encontre a Escola Estadual Joviano de Aguiar</p>

<p>Clique no botão para encontrar a localização da escola.</p>

<button onclick="getLocation()">Pesquisar localização</button>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.accuracy + 
  "<br>Longitude: " + position.coords.accuracy;
}
</script>