<h1>Bem vindo a parte eventos aqui você vai encontrar diversas infomações sobre viajens e campeonatos durante o ano escolar</h1>
<div class="card">
    <h1>Viagens</h1>
       <img src="/imagens/fotos-medalhas.jpg">
    <p>Saiba mais aqui sobre as viagens <a href="/eventos/viagens">Veja mais</a></p></div>
    <div class="card">
    <h1>Campeonatos</h1>
    <img src="/imagens/fotos-medalhas.jpg">
    <p>Saiba mais aqui sobre os campeonatos <a href="/eventos/campeonatos">Veja mais</a></p></div>