<h1>Bem vindo a parte eventos aqui você vai encontrar diversas infomações sobre viajens e campeonatos durante o ano escolar</h1>
<div class="card">
    <h1>Viagens</h1>
       <center><img src="/images/vi.jpg" width="296px" height="170px" ></img></center>
    <p>Saiba mais aqui sobre as viagens realizadas pelas turmas em 2019...<a href="/eventos/viagens">Veja mais</a></p></div>
    <div class="card">
    <h1>Campeonatos</h1>
    <center><img src="/images/foto-medalhas.jpg" width="296px" height="170px"></img></center>
    <p>Saiba mais aqui sobre os campeonatos realizados no ano de 2019 entre as turmas e suas diversas modalidades...<a href="/eventos/campeonatos">Veja mais</a></p></div>