 <h1>Pagina direcionada a informações sobre a modalidade de futsal</h1>
 <p>Nesta pagina você vai saber mais sobre esta modalidade no campeonato como os ulímos campeões do ultímo ano</p>
 <center><h1>Campeões da modalidade em 2019</h1></center>
  <center><img src="/images/campfut.jpg" alt="campfut"></img></center>
  <p>Acima vemos os campeões de 2019,time formado por alunos do 2º e 3º ano e tambem a comissão tecnica formada por um aluno do 3º ano.Os 
      jogos  foram disputados no mês de outubro em chaveamentos por conta da quantidade de times e teve sua final realizada  no mês de
       dezembro.Foi um campeonato bastante acirrado com empenho de todos os alunos e professores envolvidos. </p>