<h1>Nossa Historia</h1>

<div id="TextoHistorsia"><p>Fundada em <strong>1968</strong>, o nome dado à escola, Joviano de Aguiar,anteriormente Grupo Escolar<br>
foi uma homenagem ao avô do engenheiro <strong> Dr.José Roberto de Aguiar</strong> que junto a CESE<br> 
(Comissão Estadual de Salário-Educação),trabalhou para a sua edificação.<br></p>

<p>Esta escola ministra Ensino Fundamental,Ensino Médio Regular,Educação de Jovens e<br> 
Adultos e Cursos Técnicos da Rede Estadual de Educação Profissional (REDE).<br>
A título de ampliação da escola, foi construído um novo pavilhão, com obra concluída em<br> 
abril de 1983,no Governo do Dr. Tancredo Neves, sendo à época Secretário de<br></p>

<p>Estado de Educação Octávio Elísio Alves de Brito, por meio do Sistema Operacional de<br>
Educação CARPE, tendo como seu Presidente Aloísio Marcos Vasconcelos e prefeito do<br>
Município de Gouveia o Sr. Geraldo Manoel Brandão Bittencourt.<br></p>

<p>Em 2016, aconteceu a reforma autorizada pela Secretaria de Estado de Educação,executada<br>
 pela empresa HMF Construção e Reforma LTDA, que promoveu a acessibilidade física à<br> 
 escola, além da modificação, em um dos pavilhões, outrora construído com recursos<br> 
resultantes da iniciativa de voluntários. Tal modificação permitiu um espaço mais <br>
amplo à biblioteca.A mesma reforma incluiu modificações e melhorias no espaço da cantina,<br>
bem como pintura das salas de aula.<br></p> </div>
<div id="FotoEscola">
    <h3>Foto da Frente da Escola</h3>
<img src="/images/Fotos Escola/1270635_1387172354849985_1342380068_o.jpg" id="1" alt="Antiga Frente da Escola" width="400px" height="400px"></img>
</div>

<style>
    #FotoEscola{
        position: absolute;
        top: 40%;
        left: 60%;
        border-radius: 4px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
        transition: .3s;
    }

    #FotoEscola:hover img{
        -webkit-transform: scale(1.5);
         brightness(60%);
         box-shadow: 0 0 16px rgb(219, 216, 216);
    }

    #FotoEscola :not(img){
        position: absolute;
        z-index: 1;
        color: white;
        text-align: center;
        width: 100%;
        top: 100%;
        opacity: 0%;
        transition: .3s;
    }

    #FotoEscola:hover :not(img){
        opacity: 1;
    }

</style>