<h1>Nossa Historia</h1>

<p>O nome dado à escola, Joviano de Aguiar, anteriormente Grupo Escolar,<br> 
foi uma homenagem ao avô do engenheiro <strong>Dr. José Roberto de Aguiar</strong>>, que junto<br> 
à CESE (Comissão Estadual de Salário-Educação), trabalhou para a sua edificação.<br></p>

<p>Esta escola ministraEnsino Fundamental,Ensino Médio Regular,Educação de Jovens e<br>
Adultos e Cursos Técnicos da Rede Estadual de Educação Profissional (REDE).<br>
A título de ampliação da escola, foi construído um novo pavilhão, com obra concluída em<br> 
abril de <strong>1983</strong>, no Governo do Dr. Tancredo Neves, sendo à época Secretário de<br></p>

<p>Estado de Educação Octávio Elísio Alves de Brito, por meio do Sistema Operacional de<br>
Educação CARPE, tendo como seu Presidente Aloísio Marcos Vasconcelos e prefeito do<br>
Município de Gouveia o Sr. Geraldo Manoel Brandão Bittencourt.<br></p>

<p>Em 2016, aconteceu a reforma autorizada pela Secretaria de Estado de Educação,<br>
executada pela empresa HMF Construção e Reforma LTDA, que promoveu a acessibilidade<br> 
física à escola, além da modificação, em um dos pavilhões, outrora construído com recursos<br> 
resultantes da iniciativa de voluntários. Tal modificação permitiu um espaço mais amplo à biblioteca.<br>
A mesma reforma incluiu modificações e melhorias no espaço da cantina, bem como pintura das salas de aula.<br></p>