<h2>Jemg</h2>
<p> O objetivo dos Jogos escolares de Minas Gerais é a valorização do esporte no ambiente escolar, formando deste da adolescencia jovens-atletas.
Promovendo a integração e o intercâmbio dos alunos para ampliar as oportunidades de socialização e aquisição de hábitos saudáveis.</p>
<p>Os Jogos Escolares de Minas Gerais – JEMG/2020 é dividido em 4 etapas: Etapa municipal, etapa microregional, etapa regional e a etapa estadual.</p>
<img src= "-"
    

