<p>ENCONTRE-NOS:</p>

<P>Endereço: Rua dos Alves, 430 - Centro, Gouveia - MG, 39120-000</P>

  <div id="media">  
    <a href="http://www.facebook.com">
      <img src="https://logodownload.org/wp-content/uploads/2014/09/facebook-logo-2-1.png" alt="logo do facebook" id="social"></a>
    
    <a href="http://www.instagram.com">
      <img src="https://logodownload.org/wp-content/uploads/2017/04/instagram-logo.png" alt="logo do instagram" id="social"></a>
      
    <a href="http://www.gmail.com">
      <img src="http://drvendas.com.br/wp-content/uploads/2018/08/logo-gmail-1.png" alt = "logo do gmail" id="social"></a>
     
     
    <a href="https://outlook.live.com/owa/">
      <img src="https://seeklogo.com/images/O/outlook-logo-7117D18788-seeklogo.com.png" alt = "logo do outlook" id="social"></a>
     
    <a href=""></a>
      <img src="https://publicdomainvectors.org/photos/molumen_phone_icon.png" alt = "logo do telefone" id="social"></a>
    
  </div>