<h1>Viagens</h1>
<p>Durante o periodo escolar, é comun os professores juntamente Direção da escola,realizar viagens a locais turisticos<br>
afim de propocionar momentos de lazer com aprendizado,<br>
como pode ser observado nas fotos a seguir:<br></p>
 
 <aside>
 <img src="images/Fotos Escola/73240992_10206320313642397_6649741222644547584_n.jpg" class="efeito" alt="Viagen Feita em 2019" width="300px" height="300px"></img>
 <img src="images/Fotos Escola/73341417_10206320321682598_4357712374443016192_n.jpg" class="efeito" alt="Viagen Feita em 2019" width="300px" height="300px"></img>
 <img src="images/Fotos Escola/73523583_10206320316002456_882126049977040896_n.jpg" class="efeito" alt="Viagen Feita em 2019" width="300px" height="300px"></img>
 <img src="images/Fotos Escola/74242353_10206320313882403_4920125267973767168_n.jpg" class="efeito" alt="Viagen Feita em 2019" width="300px" height="300px"><img>
 <img src="images/Fotos Escola/75226353_10206320316842477_1517097609905307648_n.jpg" class="efeito" alt="Viagen Feita em 2019" width="300px" height="300px"></img>
 <img src="images/Fotos Escola/75369221_10206320327082733_8532538680575787008_n.jpg" class="efeito" alt="Viagen Feita em 2019" width="300px" height="300px"></img>
<img src="images/Fotos Escola/75375623_10206320315282438_6385738129944346624_n.jpg" class="efeito" alt="Viagen Feita em 2019" width="300px" height="300px"></img>
<img src="images/Fotos Escola/75435753_10206320317362490_8574611200954859520_n.jpg" class="efeito" alt="Viagen Feita em 2019" width="300px" height="300px"></img>
<img src="images/Fotos Escola/75462518_10206320315042432_6256858737055629312_n.jpg" class="efeito" alt="Viagen Feita em 2019" width="300px" height="300px">
<img src="images/Fotos Escola/FB_IMG_1583521621121.jpg" alt="Viagen Feita em 2019" class="efeito" width="300px" height="300px"></img>
 </aside>
