<footer>
  <div id="ti">
    <img id="logo-ti" src="/images/logo-ti.png">
  </div>
  <div id="texto-footer-ct">
    <strong>Este site foi produzido pelos alunos do curso técnico em 2020</strong>
  </div>
  <div id="texto-footer-social">
    <strong>Nos encontre nas nossas redes socias!</strong>
  </div>
  <div id="media">  
    <a href="http://www.facebook.com">
      <img src="https://logodownload.org/wp-content/uploads/2014/09/facebook-logo-2-1.png" alt="logo do facebook" id="social"></a>
    <a href="http://www.instagram.com">
      <img src="https://logodownload.org/wp-content/uploads/2017/04/instagram-logo.png" alt="logo do instagram" id="social"></a>
  </div>
</footer>
</body>
</html>