    <header>
        <div id="cbc">
            <br><p id="nome"><strong> Estadual Joviano De Aguiar</strong> 
               
            </p>  </div>
            <td> <img id="jov" src="/images/Logo-jov.png"></td>

      
        <nav id="menu">
           <table id="nav">
<ul>
              <div id="tabela">   
                <td><a href="/">Home</a></td>
                <td><a href="/historia">Nossa História</a></td>
                <td><a href="/calendario">Calendario Escolar</a></td>
                <td><a href="/noticias">Notícias</a></td>
                <td><a href="/eventos">Eventos</a></td>
                <td><a href="/eventos">Eventos</a></td>
                </div>
                
            </ul>
            </table>


        </nav>



    </header>
