    <header>
        <div id="cbc">
            <br><p id="nome"><strong> Estadual Joviano De Aguiar</strong> 
               
            </p>  </div>
            <td> <img id="jov" src="/images/Logo-jov.png"></td>

      
        <nav id="menu">
           <table>
<ul>
              <div id="tabela">   <td >
                        <li><a><strong>Home</a></strong></li>
                    </td>
                <td>
                        <li><strong><a>Nossa História</a></strong></li>
                    </td>
                <td>
                        <li><strong><a>Regras</a></strong></li>
                    </td>
                <td> 
                        <li><strong><a>Calendario Escolar</a></strong></li>
                    </td>
                <td>
                        <li><strong><a>Notícias</a></strong></li>
                    </td>
                <td>
                        <li><strong><a>Eventos</a></strong></li>
                    </td>
                <td>
                        <li><strong><a>Média Escolar</a></strong></li>
                    </td>
                <td>
                        <li><strong><a>Regras</a></strong></li>
                   </td></div>
                
            </ul>
            </table>


        </nav>



    </header>
