<header>
    <div id="cbc">
        <br>
        <p id="nome">
            <strong>
                Estadual Joviano De Aguiar
            </strong>
        </p>
    </div>
<img id="jov" src="/images/Logo-jov.png">
    <nav id="menu">
        <div id="tabela">
            <table id="nav">            
                <td>
                    <a href="/">
                        Home
                    </a>
                </td>
                <td>
                    <a href="/historia">
                        Nossa História
                    </a>
                </td>
                <td>
                    <a href="/calendario">
                        Calendario Escolar
                    </a>
                </td>
                <td>
                    <a href="/noticias">
                        Notícias
                    </a>
                </td>
                <td>
                    <a href="/eventos">
                        Eventos
                    </a>
                </td>
            </table>
        </div>
    </nav>
</header>