
#menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
    list-style-type: none;
    float:right;
}
td a{
   
    text-align: right;
    display: inline;
    border-bottom: navy;
   color: white;
    display: block;
    padding: 14px 16px;
    background-color: rgba(6, 110, 179, 0.418); 
   text-decoration: none;
   border: 3px solid rgba(2, 59, 73, 0.425);
}
td a:hover{
    background-color:  rgba(2, 59, 73, 0.425);
}
p#nome{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
 font-size: 40px;
    text-align: center;
    color: azure;
}
img#jov{
    display: block;
    margin-right: auto;
    position:absolute;
    height: 120px;
    width: 200px;
    border-radius: 12px;
    top: 15%; 
    left: 85%;
}
div#cbc{
    text-align: center;
}

header{
  margin: 0px;
  position: relative;
  display: grid;
    height:auto ;
    width:100% ;
    background-color: rgb(6, 110, 179);
}
table{
   top: 0%;
   left:20%;
   margin-bottom: .5em;
 
}
td{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
 font-size: 16px;
    text-align: center;
    color: azure;
    background-color:rgba(2, 59, 73, 0.425);
}
/* Cabeçalho*/
/* body*/

/* body*/
body{
  width: 97%;
  border: 0%;
  padding: 0%;
  background:  rgb(6, 110, 179);
  font: normal 15pt Arial;
}

section{
background: white;
border-radius: 10px;
padding: 15px;
width: 100%;
height: 100%;
}


div.card{
  background: rgba(185, 185, 185, 0.432);
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
}

img#social{
    width: 50px;
    height: 50px;
  }
  img#logo-ti{
    width:50px;
    height: 50px;
    float: left;
  }


  /*footer*/
  footer{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 11pt;

    width:100%;
    height: 50px;
    left: 0px;
     bottom: 0px;
     padding: 10px;
   background-color:rgb(6, 110, 179);
   color: white;
  
  }
  
  
  div#texto-footer-ct{
    float: left;
    margin: 21px;
    width: 34%;
  }
  div#texto-footer-social{
    margin: 21px;
    float:left;
    width: 34%;
    text-align: end;
  }
  div#media{
    float: left;    
  }

h1{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20pt;
}

.efeito:hover{
 background-position: 0px 0px;
 width: 400px;
 height: 400px;
 -webkit-transform: scale(1.5);
 

}